.login-page_1-2 {
  position: relative;
  box-sizing: border-box;
  border-radius: 60px;
  background: #f5f5f5;
  width: 1415px;
  height: 1012px;
}
.rectangle-5_1-3 {
  top: 189px;
  left: 811px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-6_1-4 {
  top: 195px;
  left: 26px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-11_1-5 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.ellipse-1_1-6 {
  top: 319px;
  left: 59px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-login_1-7 {
  top: 63px;
  left: 861px;
  position: absolute;
  display: flex;
  color: #434343;
  font-size: 50px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 554px;
  height: 89px;
}

.text-scholar---pro--connect-llp_1-8 {
  top: 81px;
  left: 59px;
  position: absolute;
  display: flex;
  font-size: 45px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 374px;
  height: 84px;
}

.frame-9_1-12 {
  padding: 10px;
  top: 257px;
  left: 542px;
  position: absolute;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-10_51-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 18px;
  width: 292px;
}
.text-xyz-mail-com_51-2 {
  color: #b7b4b4;
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
  width: 372px;
}

.frame-2_1-13 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  width: 240px;
  
}
.text-username---e-mail_1-24 {
  color: #000000;
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 202px;
  height: 27px;
}

.frame-4_1-15 {
  top: 422px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
  background-color: transparent;
}
.frame-2_1-16 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
  
}
.text-password_1-17 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
  background-color: transparent;
}

.frame-11_51-4 {
  padding: 10px;
  top: 14px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 18px;
  width: 292px;
}
.text-xyz-mail-com_51-5 {
  color: #b7b4b4;
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: wrap;
  width: 372px;
}

.text-don-t-have-an-account---register_1-21 {
  top: 719px;
  left: 750px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 373px;
  height: 64px;
}

.text-forgot-password--_2-2 {
  top: 517px;
  left: 1138px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
  width: 207px;
  height: 27px;
}

.frame-8_1-22 {
  top: 595px;
  left: 738px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 18px;
  border-color: #7f7b7b;
  border-style: solid;
  border-width: 1px;
  background: #2b456c;
  width: 371px;
  height: 73px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-12_52-2 {
  padding: 10px;
  top: 8px;
  left: 121px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}
.text-sign-in_1-23 {
  color: #ffffff;
  font-size: 30px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}
.butt {
  color:#2b456c;
  background-color: transparent;
}
/* Set background color of input fields to match the background */
input[type="text"],
input[type="password"] {
  background-color: transparent; /* Set background color to transparent */
  border: none; /* Remove border */
  outline: none; /* Remove focus outline */
}

/* Remove any padding or margin from the input fields */
input[type="text"],
input[type="password"] {
  padding: 0;
  margin: 0;
}
