.register-page_164-2 {
  position: relative;
  box-sizing: border-box;
  border-radius: 60px;
  background: #f5f5f5;
  width: 1415px;
  height: 1012px;
}
.rectangle-5_164-3 {
  top: 189px;
  left: 811px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-6_164-4 {
  top: 195px;
  left: 26px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-11_164-5 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.ellipse-1_164-6 {
  top: 319px;
  left: 59px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-create-account_164-7 {
  top: 58px;
  left: 684px;
  position: absolute;
  display: flex;
  color: #434343;
  font-size: 50px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 554px;
  height: 89px;
}

.text-scholar---pro--connect-llp_164-8 {
  top: 81px;
  left: 59px;
  position: absolute;
  display: flex;
  font-size: 45px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 374px;
  height: 84px;
}

.frame-3_164-9 {
  top: 337px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-10 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-e-mail_164-11 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.frame-9_164-12 {
  top: 178px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-13 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  
}
.text-user-name_164-14 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.frame-4_164-15 {
  top: 488px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-16 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-password_164-17 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.frame-5_164-18 {
  top: 641px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-19 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-confirm-password_164-20 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.text-already-have-an-account---log-in_164-21 {
  top: 934px;
  left: 675px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 408px;
  height: 35px;
}

.frame-8_164-22 {
  top: 804px;
  left: 698px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 18px;
  border-color: #7f7b7b;
  border-style: solid;
  border-width: 1px;
  background: #2b456c;
  width: 373px;
  height: 73px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-create-account_164-23 {
  top: 15px;
  left: -17px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 30px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 402px;
  height: 43px;
}