<div class="contact_1-3">
  <div class="rectangle-5_1-4">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AyuX5/wjNA6j4UG+yAAAAAElFTkSuQmCC" />
  </div>
  <div class="rectangle-6_1-5">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AyuX5/wjNA6j4UG+yAAAAAElFTkSuQmCC" />
  </div>
  <div class="rectangle-11_1-6">
      <svg width="483" height="1012" viewBox="0 0 483 1012" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 53C0 23.7289 23.7289 0 53 0H483V1012H38C17.0132 1012 0 994.987 0 974V53Z" fill="#EDEBFE" />
      </svg>
  </div>
  <div class="rectangle-12_1-20">
      <svg width="486" height="1014" viewBox="0 0 486 1014" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.6568 53.3852C2.7315 24.1142 26.5209 0.445931 55.7919 0.520629L485.79 1.61796L483.208 1013.61L38.2094 1012.48C17.2226 1012.43 0.252911 995.369 0.306468 974.382L2.6568 53.3852Z" fill="#F5F5F5" />
      </svg>
  </div>
  <div class="rectangle-14_1-56">
      <svg width="1416" height="180" viewBox="0 0 1416 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1362.22 2.15261C1391.49 2.19908 1415.18 25.9656 1415.14 55.2367L1414.94 179.282L0.662762 177.037L0.883506 37.9914C0.916824 17.0046 17.957 0.0185122 38.9438 0.05183L1362.22 2.15261Z" fill="#CAE5F9" />
      </svg>
  </div>
  <div class="rectangle-16_1-83">
      <svg width="1414" height="73" viewBox="0 0 1414 73" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M53 73C23.7289 73 0 49.2711 0 20L0 -3.27826e-06L1414 -3.27826e-06V35C1414 55.9868 1396.99 73 1376 73L53 73Z" fill="#CAE5F9" />
      </svg>
  </div>
  <span class="text-1-8">Your Questions, Our Solutions: Contact Us Today for Personalized Assistance!</span>
  <span class="text-scholar---pro--connect-llp_1-9">Scholar - Pro Connect LLP</span>
  <div class="frame-9_1-10">
      <div class="frame-2_1-11">
          <span class="text-name_1-12">Name </span>
      </div>
      <div class="frame-11_19-4">
          <input type="text" id="name" placeholder="Enter your name" class="text-xyz_19-3" />
      </div>
  </div>
  <div class="frame-4_1-13">
      <div class="frame-2_1-14">
          <span class="text-phone-number_1-15">Phone number</span>
      </div>
      <div class="frame-12_19-5">
          <input type="tel" id="phone" placeholder="Enter your phone number" class="text-xyz_19-6" />
      </div>
  </div>
  <div class="frame-10_1-59">
      <div class="frame-2_1-60">
          <span class="text-e-mail_1-61">E-mail</span>
      </div>
      <div class="frame-13_19-7">
          <input type="email" id="email" placeholder="Enter your email" class="text-xyz_19-8" />
      </div>
  </div>
  <div class="frame-8_1-18">
      <div class="frame-15_19-10">
          <button class="text-submit_1-65" onclick="submitForm()">Submit</button>
      </div>
  </div>
  <div class="ellipse-1_3-2">
      <svg width="383" height="342" viewBox="0 0 383 342" fill="none" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <path
              d="M383 172.969C383 268.496 268.532 290.447 157.706 290.447C46.8795 290.447 0 397.973 0 302.445C0 206.917 71.5047 0 182.331 0C293.157 0 383 77.4407 383 172.969Z"
              fill="url(#pattern0_3_2)" />
          <defs>
              <pattern id="pattern0_3_2" patternContentUnits="objectBoundingBox" width="1" height="1">
                  <use xlink:href="#image0_3_2"
                      transform="matrix(0.0005 0 0 0.000559942 0 -0.0599415)" />
              </pattern>

              <image id="image0_3_2" width="2000" height="2000" xlink:href="C:\Users\Harsh\Desktop\Spcl-Front-ui\src\assets\career.jpg" />
          </defs>
        </svg>
    
  </div>
  <div class="rectangle-15_1-67">
      <svg width="819" height="244" viewBox="0 0 819 244" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="818" height="243" rx="17.5" fill="#F5F5F5" stroke="black" />
      </svg>
  </div>
  <div class="frame-14_19-9">
    <input type="text" id="query" placeholder="Type your query here" class="text-1-101" />
</div>
</div>

<script>
  function submitForm() {
      // Your form submission logic goes here
      var name = document.getElementById("name").value;
      var phone = document.getElementById("phone").value;
      var email = document.getElementById("email").value;
      var query = document.getElementById("query").value;
      console.log("Name:", name);
      console.log("Phone:", phone);
      console.log("Email:", email);
      console.log("Query:", query);
  }
</script>
