.contactform_164-46 {
  position: relative;
  box-sizing: border-box;
  border-radius: 60px;
  background: #f5f5f5;
  width: 1415px;
  height: 1012px;
}
.rectangle-5_164-47 {
  top: 189px;
  left: 811px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-6_164-48 {
  top: 195px;
  left: 26px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-11_164-49 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-12_164-50 {
  top: -1px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-14_164-51 {
  top: 4px;
  left: 1415px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-16_164-52 {
  top: 1013px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-your-questions--our-solutions--contact-us-today-for-personalized-assistance-_164-53 {
  top: 60px;
  left: 463px;
  position: absolute;
  display: flex;
  color: #434343;
  font-size: 35px;
  font-family: Mukta Mahee;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 935px;
  height: 89px;
}

.text-scholar---pro--connect-llp_164-54 {
  top: 50px;
  left: 54px;
  position: absolute;
  display: flex;
  font-size: 45px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 374px;
  height: 84px;
}

.frame-9_164-55 {
  top: 248px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-56 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  width: 103px;
  
}
.text-name_164-57 {
  color: #000000;
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 202px;
  height: 27px;
}

.frame-4_164-58 {
  top: 359px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-59 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-phone-number_164-60 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.frame-10_164-61 {
  top: 470px;
  left: 542px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 819px;
  height: 72px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.frame-2_164-62 {
  padding: 10px;
  top: -23px;
  left: 29px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-e-mail_164-63 {
  color: #000000;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  text-wrap: nowrap;
}

.frame-8_164-64 {
  top: 853px;
  left: 821px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 18px;
  border-color: #7f7b7b;
  border-style: solid;
  border-width: 1px;
  background: #f5f5f5;
  width: 220px;
  height: 61px;
  box-shadow: 0px 4px 4px 0px #0000003f;
}
.text-submit_164-65 {
  top: 10px;
  left: -32px;
  position: absolute;
  display: flex;
  color: #435b6d;
  font-size: 30px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 283px;
  height: 33px;
}

.ellipse-1_164-66 {
  top: 298px;
  left: 35px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-15_164-67 {
  top: 581px;
  left: 542px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-type-your-query-here_164-68 {
  top: 609px;
  left: 561px;
  position: absolute;
  display: flex;
  color: #6f6b6b;
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 484px;
  height: 60px;
}